# Extensions
*.out
*.exe
*.asm
*.o
*.tmp
*~
*.pyc

# Files
temp.tmp
gmon.out
.gdbinit
CMakeLists.txt.user
Alton.kdev4

TouchFiles/*

# Directories
.vscode/
.idea/
.kdev4/
Build/*/
tmpbld/
# Ignoring __pycache__s in 5 levels of recursion
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
